@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos una tienda de carcasas personalizadas chilena que realiza pedidos dependiendo del cupo mensual que haya disponible. ¡Si deseas más información contáctanos a través de instagram!</p>
