@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="fondo1">
    <img src="~/Content/Image/kusuo.png" width="70%" height="70%" />
    <p class="lead">¡Carcasas personalizadas de tus personajes favoritos!</p>
    <p></p>
    <p><a href="https://www.instagram.com/kusuo_store/" class="btn btn-danger" target="_blank">Instagram <i class="bi bi-instagram"></i></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Image/separacupo.png" width="100%" height="100%"/>
        <p>
            ¡Para adquirir tu carcasa personalizada deberás esperar que haya cupos disponibles! Para recibir una notificación cuando haya cupos abiertos da click en el boton inferior.
        </p>
        <p><i class="fa fa-home"></i><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301865">Recibe una notificación <i class="bi bi-bell"></i></a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Image/kusuo3.png" width="100%" height="100%"/>
        <p>Cuando haya cupos disponibles el botón inferior estará activo para realizar una cotización según el modelo de tu teléfono y los colores disponibles, recuerda que puedes elegir cualquier personaje pero debe ser arte oficial</p>
        <p>
            <a class="btn btn-danger" disabled href="https://go.microsoft.com/fwlink/?LinkId=301866">
                ¡Cotiza Ahora! <i class="bi bi-currency-dollar"></i>
            </a>
        </p>
    </div>
    <div class="col-md-4">

        <img src="~/Content/Image/KUSUO4.png" width="100%" height="100%" />
        <p>Una vez realizada la cotización se habilitará un botón de pago posterior</p>
        <p><a class="btn btn-danger" disabled href="https://go.microsoft.com/fwlink/?LinkId=301867">¡Paga aquí! <i class="bi bi-cash-coin"></i> </a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Image/KUSUO5.png" width="100%" height="100%" />
        <p>¡Déjanos una valoración si ya recibiste tu carcasa!</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Valóranos <i class="bi bi-star"></i> </a>  </p>
    </div>
</div>